h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 3.5rem;
}

.price {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 2rem;
}

.background-gray{
    background-color: #dccdcd;
}

.border-radius{
    border-top-right-radius: 100px;
    border-bottom-left-radius: 100px;
}